nextflow.enable.dsl = 2

params {
    callset_csv = "callsets.csv"
    repeats_bed = [
        url: "https://ftp-trace.ncbi.nlm.nih.gov/ReferenceSamples/giab/release/genome-stratifications/v3.5/GRCh38@all/LowComplexity/GRCh38_AllTandemRepeatsandHomopolymers_slop5.bed.gz",
        md5: "05a302a437da3f3514106d3eedd62696"
    ]
    mat_chain = [
        url: "https://42basepairs.com/download/s3/human-pangenomics/T2T/HG002/assemblies/changes/GRCh38_to_hg002v1.1.mat.chain.gz",
        md5: "ea3b882a9c65137b6f1a844e34180a84"
    ]
    pat_chain = [
        url: "https://42basepairs.com/download/s3/human-pangenomics/T2T/HG002/assemblies/changes/GRCh38_to_hg002v1.1.pat.chain.gz",
        md5: "bc5bc5c548b2ded707eeba1143494d46"

    ]
    outdir = "results"
}

conda.enabled = true
dag.verbose = true

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}/${callset}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

trace {
    enabled = true
    overwrite = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,cpus,%cpu,memory,%mem,rss'
}
